apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-postgres
  labels:
    app: spark-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-postgres
  template:
    metadata:
      labels:
        app: spark-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "sparkuser", "-d", "sparkdb"]
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: postgres-storage
          emptyDir: {}